## Exercise #1

Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.

In [7]:
# 1. Create number list
# 2. Create for loop that enumerates over numbers list
# 3. cube value of enumerated var

list_num = [0,1,8,27,64,125,216,343,512,729,1000]

for num in list_num:
    cubed_val = num*num*num
    if cubed_val > 1000:
        break
    print(cubed_val)

0
1
512

## Exercise #2

Get first prime numbers up to 100

In [23]:
# 1. create list with a range of values from 2 - 100
# 2. create for loop to iterate through each number
# 3. iterate through subrange of all ints between 2-n
# 4. if value is divisible by 0 is not prime and needs to break

nums = list(range(2,101))

for num in nums:
    for i in range(2, int(num/2)+1):
        if (num % i) == 0:
            break
    else:
         print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

## Exercise #3

Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors

In [16]:
# 1. Create title variable
title = 'seniors'
# 2. ask user how old they are
age = int(input('How old are you?'))

# 3. respond based on the answer given
if age < 18:
    title = 'kids'
elif age >= 18 and age <= 65:
    title = 'adults'
    
print(title)

How old are you?76
seniors